<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="SynchronizationPortalHostAddress" value="localhost" />
        <add key="DataInformationPortalHostAddress" value="localhost" />
        <add key="ServicePortalHostAddress" value="localhost" />
        <add key="FilePathForSerialization" value="D:\SerializedFile.txt" />
        <add key="MachineId" value="#433001" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Klingelnberg.ClosedLoop.ProductionSystem.Persistance.Core"
                                  publicKeyToken="4a88416e23c402f3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.1.5.0" newVersion="9.1.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Klingelnberg.ClosedLoop.ProductionSystem.Portals.DataInformation"
                                  publicKeyToken="4a88416e23c402f3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.2.0.0" newVersion="8.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Klingelnberg.ClosedLoop.ProductionSystem.Portals.Base"
                                  publicKeyToken="4a88416e23c402f3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.1.4.0" newVersion="8.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Klingelnberg.ClosedLoop.ProductionSystem.Portals.Common"
                                  publicKeyToken="4a88416e23c402f3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.1.4.0" newVersion="8.1.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>